.app {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: blue;
    /* background-image: url("./Wallpaper 1.png"); */
}